:root {
  --pink: #d51067;
  --white: #e1e1e1;
  --title-font: "DM Serif Display", serif;
  --alternative-title-font: "Playfair Display", serif;
  --font: "Poppins", serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 30px;
  background: repeating-linear-gradient(340deg, rgb(22, 15, 49) 0%, rgb(77, 23, 83) 16%, rgb(22, 15, 49) 33%, rgb(22, 15, 49) 49%, rgb(77, 23, 83) 66%, rgb(22, 15, 49) 100%);
  background-size: 100%;
}

h2 {
  font: 400 6vw/6vw var(--title-font);
  text-align: center;
  color: var(--white);
  letter-spacing: 1px;
  margin-bottom: 100px;
}

h3 {
  font: 400 30px/1.2 var(--title-font);
  text-align: center;
  color: var(--white);
}

a:not(.btn a) {
  color: var(--white);
  text-decoration: 1px underline var(--white);
  text-underline-offset: 5px;
  transition: all ease 0.4s;
}
a:not(.btn a):hover {
  text-decoration-color: transparent;
}

.card {
  margin: 0 auto;
  padding: 50px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}
.card p {
  margin-top: 0;
}

/* ----------------- CUSTOM CURSOR ----------------- */
/*#custom-cursor
{
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    pointer-events: none; /* To prevent the custom cursor from interfering with clickable elements */
/*z-index: 9999;
background-color: var(--white);
transform: translate(-50%, -50%); /* Center the cursor */
/*mix-blend-mode: difference;
    transition: all ease 0.075s;
}*/
/* ----------------- SIDE MENU ----------------- */
aside#side-menu {
  padding: 15px 0 15px 15px;
  position: fixed;
  top: calc(50vh - 135px);
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}
aside#side-menu:hover > .side-menu-icon-link {
  opacity: 0.25;
}
aside#side-menu:hover > .side-menu-icon-link:hover {
  opacity: 1;
  transform: scale(1.4);
}
aside#side-menu .side-menu-icon-link {
  transition: all ease 0.4s;
}
aside#side-menu img {
  height: 30px;
  width: 30px;
  transition: all ease 0.3s;
}
aside#side-menu img#whatsapp {
  height: 28px;
  width: 28px;
}
aside#side-menu img#email {
  height: 23px;
  width: 23px;
}
aside#side-menu img#linkedin {
  height: 20px;
  width: 20px;
}
aside#side-menu img#resume {
  margin-top: 5px;
}

body:has(#side-menu:hover) #custom-cursor {
  height: 0;
  width: 0;
}

/* ----------------- LANDING SECTION ----------------- */
section#landing-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}
section#landing-section h1 {
  margin: 0;
  position: relative;
  width: fit-content;
}
section#landing-section h1 span.overlay {
  display: inline-block;
  overflow: hidden;
  line-height: 8vw;
}
section#landing-section h1 span.overlay .fade-in-text {
  font: 400 9vw/9vw var(--title-font);
  color: var(--pink);
  display: block;
  transform: translateY(100%);
  transition: all ease 0.4s;
  animation: spanFadeIn linear 800ms forwards;
}
section#landing-section .dynamic-text_wrapper {
  display: block;
  width: fit-content;
  overflow: hidden;
  min-height: 180px; /* Avoid glitch on appearing */
  line-height: 10vw;
}
section#landing-section .dynamic-text_wrapper::after {
  content: "";
  display: block;
  transform: translateY(100%);
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  font-family: var(--font);
  font-size: 8vw;
  line-height: 10vw;
  font-weight: 800;
  width: 100%;
  animation: spanFadeIn cubic-bezier(0.18, 0.89, 0.32, 1.28) 1s forwards 1000ms, changingText 7s linear infinite alternate 800ms;
}
@keyframes changingText {
  0% {
    content: "Apasionado";
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    content: "Creativo";
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    content: "Apasionado";
    opacity: 1;
  }
}
@keyframes spanFadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
section#landing-section #scroll-caller {
  position: absolute;
  width: 160px;
  height: 60px;
  bottom: 0;
  left: calc(50% - 80px);
  color: var(--white);
  font: 400 14px/14px var(--font);
  text-align: center;
}
section#landing-section #scroll-caller::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 79px;
  width: 2px;
  height: 35px;
  background: var(--pink);
  z-index: -1;
}
section#landing-section #scroll-caller p {
  margin: 0;
  color: var(--white);
}
@media (max-width: 1500px) {
  section#landing-section .dynamic-text-wrapper {
    min-height: 100px;
  }
}
@media (max-width: 850px) {
  section#landing-section .dynamic-text-wrapper {
    min-height: 70px;
  }
}

/* ----------------- PRESENTATION SECTION ----------------- */
section#presentation-section {
  min-height: 100vh;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 400 18px/1.8 var(--font);
  color: var(--white);
}
section#presentation-section .intro {
  margin: 25vh 0 50vh;
  text-align: center;
}
section#presentation-section .intro #interesting-website-button {
  margin: 15px 0 0;
  position: relative; /* Makes it able to move away */
  padding: 15px 30px;
  display: inline-block;
  border: none;
  border-radius: 50px;
  background: var(--pink);
  color: var(--white);
  font: 400 1.2rem/1.2rem var(--font);
  text-decoration: none;
  transition: all ease 0.1s;
}
section#presentation-section #presentation-content {
  scroll-margin-top: 15vh;
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 50px;
}
section#presentation-section #presentation-content .content-col.text {
  width: calc(100% - 400px);
}
section#presentation-section #presentation-content .content-col.text p {
  font: 400 1.2rem/2.2rem var(--font);
  color: var(--white);
}
section#presentation-section #presentation-content .content-col.text p .blur {
  filter: blur(1.5px);
}
section#presentation-section #presentation-content .content-col.img {
  width: 350px;
  display: flex;
  align-items: center;
}
section#presentation-section #presentation-content .content-col.img #my-picture {
  max-width: 100%;
  padding: 8px;
  background: #fff;
  border-radius: 50%;
}

/* ----------------- SKILLS SECTION ----------------- */
section#skills-section {
  min-height: 100vh;
  padding: 130px 0 75px;
}
section#skills-section .skills-row {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 50px;
}
section#skills-section .skills-row .skill-card {
  width: calc(25% - 38px);
  min-height: 350px;
  position: relative;
  overflow: hidden;
  padding: 50px 20px;
  background: rgba(255, 255, 255, 0.05);
  transform-style: preserve-3d;
  perspective: 1000px; /* Ajoute la perspective */
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
section#skills-section .skills-row .skill-card .card-shine {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.4);
  filter: blur(150px);
  border-radius: 50%;
  pointer-events: none;
  transition: opacity 0.3s ease;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: opacity ease 1s;
}
section#skills-section .skills-row .skill-card:hover .card-shine {
  left: var(--x);
  top: var(--y);
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
section#skills-section .skills-row .skill-card_title {
  margin: 0;
  font: 700 30px/1.2 var(--font);
  color: var(--white);
}
section#skills-section .skills-row i {
  font-size: 6rem;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  background: linear-gradient(45deg, #ff0071 0%, #ff68ab 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
section#skills-section .skills-row #prestashop-icon svg {
  height: 96px;
  width: 96px;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
}

/* ----------------- TIMELINE SECTION ----------------- */
section#timeline {
  /* padding-top: 66px; /* Hides the rocket from next section because it has top -56px */
  position: relative;
}
section#timeline::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: url(./img/stars.png);
  opacity: 0.2;
  padding: 20vh 0;
}
section#timeline h2 {
  margin-bottom: 200px;
}
section#timeline .timeline-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 100px;
}
section#timeline .timeline-row::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  background: var(--pink);
  height: 100%;
}
section#timeline #rocket-wrapper {
  position: absolute;
  top: -56px; /* When passing to fixed, I apply a top: calc(50% - 59px) to smooth the transition, so it helps compensating this */
  width: 60px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform ease 1s;
  border-radius: 100px;
  -webkit-backdrop-filter: blur(40px);
}
section#timeline #rocket-wrapper img {
  max-width: 100%;
}
section#timeline #rocket-wrapper img#rocket-flames {
  height: 0;
  width: 20px;
  margin-bottom: 2px;
  filter: drop-shadow(0px -5px 20px var(--pink)); /* Gives an illuminated halo effect around the flames */
  transition: height ease 1s;
}
section#timeline #rocket-wrapper.fixed {
  position: fixed;
  top: calc(50% - 56px);
}
section#timeline #rocket-wrapper.fixed #rocket-flames {
  height: 50px;
}
section#timeline #rocket-wrapper.down {
  top: unset;
  bottom: 0;
  transform: rotate(180deg);
}
section#timeline .timeline-col {
  width: calc(50% - 50px); /* To move away from screen sides */
}
section#timeline .timeline-col.education {
  margin-top: 40vh;
}
section#timeline .timeline-col.education ul li:last-child {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section#timeline .timeline-col.education ul li:last-child p.date {
  margin: 0;
}
section#timeline .timeline-col.experiences {
  text-align: right;
}
section#timeline .timeline-col.experiences p.date {
  margin: 16px 0 16px auto;
}
section#timeline .timeline-col.experiences #crossed-fingers {
  position: relative;
  margin-bottom: -5px;
  margin-left: 2px;
  width: 16px;
}
section#timeline .timeline-col.experiences ul li#justify-start {
  justify-content: start;
}
section#timeline .timeline-col ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 40vh;
}
section#timeline .timeline-col ul li {
  color: var(--white);
  transition: opacity ease 0.4s;
}
section#timeline .timeline-col ul li:not(.highlight) {
  opacity: 0.05;
}
section#timeline .timeline-col ul li.highlight {
  opacity: 1;
}
section#timeline .timeline-col ul li:not(.timeline-col.education ul li:last-child) {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#timeline .timeline-col ul li h4 {
  margin: 0 0 15px;
  font: normal 400 2rem/1.2 var(--title-font);
  letter-spacing: 0.5px;
}
section#timeline .timeline-col ul li h4 span.pink {
  color: var(--pink);
  font-weight: 900;
  font-style: italic;
  font-family: var(--alternative-title-font);
  letter-spacing: 0;
}
section#timeline .timeline-col ul li p.date {
  position: relative;
  width: fit-content;
  font: italic 300 20px/1.4 var(--font);
  letter-spacing: 0.5px;
}
section#timeline .timeline-col ul li p.date::after {
  content: "";
  position: absolute;
  right: 0;
  width: 50%;
  bottom: -5px;
  border-bottom: 1px solid var(--pink);
}
section#timeline .timeline-col ul li p {
  font: 300 16px/1.4 var(--font);
}

/* ----------------- END SECTION ----------------- */
section#end-section {
  /*header
  {
      position: sticky;
      top: 0;
      left: 30px;
      width: calc(100% - 60px);
      z-index: 1;
      margin-bottom: 150px;

      #name
      {
          margin: 0;
          display: flex;
          justify-content: center;
          column-gap: 25px;
          font: 500 6rem/6rem monospace;
          color: transparent;
          -webkit-text-stroke-width: 3px;
          -webkit-text-stroke-color: var(--pink);
          width: fit-content;
          margin: 0 auto;

          .to-show
          {
              transition: all ease 0.6s;
              opacity: 0;
              font-size: 0;

              &.shown
              {
                  opacity: 1;
                  font-size: 10vw;
              }
          }
      }
  }*/
  /*.content-wrapper
  {
      margin-top: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;

      p#to-be-continued
      {
          font: 400 3rem/3rem var(--title-font);
          color: var(--white);
      }
  }*/
}
section#end-section h2 {
  padding-top: 10vh;
}

/* OPTIONNEL */
section {
  min-height: 100dvh;
}

/*# sourceMappingURL=style.css.map */
